* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

/*base styles*/
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(190, 190, 190, 0.253)));
  background: linear-gradient(to top, transparent, rgba(190, 190, 190, 0.253));
  -webkit-backdrop-filter: blur(4px) hue-rotate(120deg);
          backdrop-filter: blur(4px) hue-rotate(120deg);
  -webkit-box-shadow: 0 5px 10px rgba(83, 83, 83, 0.301);
          box-shadow: 0 5px 10px rgba(83, 83, 83, 0.301);
  z-index: 100;
}

.nav-bar .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-bar .wrapper .logo {
  width: 130px;
}

.nav-bar .wrapper a {
  color: black;
}

.nav-bar .wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  background: #7579e7;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 300ms ease, -webkit-transform 400ms ease-out;
  transition: opacity 300ms ease, -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out, opacity 300ms ease;
  transition: transform 400ms ease-out, opacity 300ms ease, -webkit-transform 400ms ease-out;
  opacity: 0;
}

.nav-bar .wrapper .menu li {
  margin: 15px;
}

.nav-bar .wrapper .menu li a {
  color: white;
}

.nav-bar .wrapper .menu-drop {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.nav-bar .wrapper .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .wrapper .btns .login-btn {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  background: #7579e7;
  color: white;
  -webkit-box-shadow: 0 10px 15px rgba(44, 44, 44, 0.404);
          box-shadow: 0 10px 15px rgba(44, 44, 44, 0.404);
  -webkit-transition: background-color 200ms linear ,color 200ms linear;
  transition: background-color 200ms linear ,color 200ms linear;
}

.nav-bar .wrapper .btns .login-btn:hover {
  background: #9ab3f5;
  color: black;
}

.nav-bar .wrapper .btns .menu-btn {
  margin: 20px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.nav-bar .wrapper .btns .menu-btn span {
  display: block;
  width: 90%;
  margin: 2px;
  border: 1px solid;
  border-radius: 3px;
  -webkit-transition: opacity 200ms linear, -webkit-transform 200ms ease-in;
  transition: opacity 200ms linear, -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in, opacity 200ms linear;
  transition: transform 200ms ease-in, opacity 200ms linear, -webkit-transform 200ms ease-in;
}

.nav-bar .wrapper .btns .menu-btn .menu-btn-color {
  border-color: white;
}

.nav-bar .wrapper .btns .menu-btn .first {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.nav-bar .wrapper .btns .menu-btn .third {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.nav-bar .wrapper .btns .menu-btn .first-rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-bar .wrapper .btns .menu-btn .second-rotate {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.nav-bar .wrapper .btns .menu-btn .third-rotate {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*media queries*/
/*576px */
@media only screen and (min-width: 576px) {
  .nav-bar .wrapper {
    width: 90%;
    padding: 10px 0;
  }
  .nav-bar .wrapper .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.8rem;
    font-weight: normal;
    background: none;
  }
  .nav-bar .wrapper .menu li {
    margin: 0 10px;
  }
  .nav-bar .wrapper .menu li a {
    color: black;
  }
  .nav-bar .wrapper .btns .menu-btn {
    display: none;
  }
}

/*768px */
@media only screen and (min-width: 768px) {
  .nav-bar .wrapper {
    width: 80%;
  }
  .nav-bar .wrapper .logo {
    width: 160px;
  }
}

/*992px */
@media only screen and (min-width: 992px) {
  .nav-bar .wrapper .logo {
    width: 180px;
  }
}

/*1200px */
@media only screen and (min-width: 1200px) {
  .nav-bar .wrapper .logo {
    width: 230px;
  }
  .nav-bar .wrapper .menu {
    font-size: 1rem;
  }
  .nav-bar .wrapper .btns .login-btn {
    font-size: 1rem;
    padding: 10px 30px;
  }
}

.banner {
  padding-top: 80px;
  padding-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a3d8f4), to(transparent));
  background: linear-gradient(to bottom, #a3d8f4, transparent 100%);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.banner .wrapper {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.banner .wrapper div {
  margin: 20px 0;
}

.banner .wrapper .title {
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 0 5px 10px rgba(73, 73, 73, 0.438);
}

.banner .wrapper .sub-title {
  font-size: 0.9rem;
  color: gray;
}

.banner .wrapper .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .wrapper .btns a {
  padding: 10px 35px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 25px;
  display: block;
  margin: 10px 20px;
  -webkit-box-shadow: 0 5px 10px rgba(58, 58, 58, 0.308);
          box-shadow: 0 5px 10px rgba(58, 58, 58, 0.308);
}

.banner .wrapper .btns .first {
  background: #7579e7;
  color: white;
}

.banner .wrapper .btns .second {
  color: black;
  background: white;
}

@media only screen and (min-width: 768px) {
  .banner .wrapper {
    max-width: 500px;
  }
  .banner .wrapper div {
    margin: 40px;
  }
  .banner .wrapper .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 992px) {
  .banner .wrapper {
    max-width: 600px;
  }
  .banner .wrapper .title {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    padding: 100px 0;
  }
  .banner .wrapper {
    max-width: 700px;
  }
  .banner .wrapper div {
    margin: 50px 0;
  }
  .banner .wrapper .title {
    font-size: 3.5rem;
  }
  .banner .wrapper .sub-title {
    font-size: 1rem;
  }
  .banner .wrapper .btns a {
    font-size: 1.1rem;
    padding: 15px 50px;
    margin: 10px 40px;
  }
}

.features {
  padding-bottom: 100px;
}

.features .wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.features .wrapper .title {
  text-transform: uppercase;
  color: #7579e7;
  font-weight: bold;
}

.features .wrapper .subtitle {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

.features .wrapper .cards {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .wrapper .cards .card {
  margin: 40px 0;
  max-width: 400px;
}

.features .wrapper .cards .card .icon {
  font-size: 25px;
  color: white;
  padding: 25px;
  border-radius: 50%;
}

.features .wrapper .cards .card .card-title {
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: bold;
}

.features .wrapper .cards .card .card-description {
  font-size: 0.9rem;
  color: gray;
  width: 80%;
  margin: 0 auto;
}

.features .wrapper .cards .card:nth-child(1) .icon {
  background: -webkit-gradient(linear, left bottom, right top, from(blue), to(skyblue));
  background: linear-gradient(to top right, blue, skyblue);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 255, 0.548);
          box-shadow: 0 3px 10px rgba(0, 0, 255, 0.548);
}

.features .wrapper .cards .card:nth-child(2) .icon {
  background: -webkit-gradient(linear, left bottom, right top, from(green), to(#82e982));
  background: linear-gradient(to top right, green, #82e982);
  -webkit-box-shadow: 0 3px 10px rgba(0, 128, 0, 0.514);
          box-shadow: 0 3px 10px rgba(0, 128, 0, 0.514);
}

.features .wrapper .cards .card:nth-child(3) .icon {
  background: -webkit-gradient(linear, left bottom, right top, from(red), to(#e77b7b));
  background: linear-gradient(to top right, red, #e77b7b);
  -webkit-box-shadow: 0 3px 10px rgba(255, 0, 0, 0.548);
          box-shadow: 0 3px 10px rgba(255, 0, 0, 0.548);
}

.features .wrapper .cards .card:nth-child(4) .icon {
  background: -webkit-gradient(linear, left bottom, right top, from(purple), to(#dd7ddd));
  background: linear-gradient(to top right, purple, #dd7ddd);
  -webkit-box-shadow: 0 3px 10px rgba(128, 0, 128, 0.514);
          box-shadow: 0 3px 10px rgba(128, 0, 128, 0.514);
}

.features .wrapper .cards .card:nth-child(5) .icon {
  background: -webkit-gradient(linear, left bottom, right top, from(#f81313), to(#df7f7f));
  background: linear-gradient(to top right, #f81313, #df7f7f);
  -webkit-box-shadow: 0 3px 10px rgba(248, 19, 19, 0.527);
          box-shadow: 0 3px 10px rgba(248, 19, 19, 0.527);
}

.features .wrapper .cards .card:nth-child(6) .icon {
  background: -webkit-gradient(linear, left bottom, right top, from(#006eff), to(#80aae0));
  background: linear-gradient(to top right, #006eff, #80aae0);
  -webkit-box-shadow: 0 3px 10px rgba(0, 110, 255, 0.562);
          box-shadow: 0 3px 10px rgba(0, 110, 255, 0.562);
}

@media only screen and (min-width: 576px) {
  .features .wrapper .subtitle {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 768px) {
  .features .wrapper .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features .wrapper .cards .card {
    margin: 40px 20px;
    max-width: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .features .wrapper .cards {
    max-width: 1100px;
    margin: 30px auto;
  }
}

@media only screen and (min-width: 1200px) {
  .features .wrapper .subtitle {
    font-size: 2rem;
  }
}

.application-process {
  padding-bottom: 100px;
}

.application-process .wrapper {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application-process .wrapper .section-title {
  text-transform: uppercase;
  color: #7579e7;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.application-process .wrapper .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.application-process .wrapper .cards .card {
  width: 250px;
  height: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 20px rgba(82, 82, 82, 0.562);
          box-shadow: 5px 5px 20px rgba(82, 82, 82, 0.562);
  margin: 20px;
  border-radius: 10px;
  padding: 50px 10px 20px;
}

.application-process .wrapper .cards .card .icon {
  background: black;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.application-process .wrapper .cards .card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.application-process .wrapper .cards .card .description {
  font-size: 0.9rem;
  color: gray;
  margin-top: 20px;
}

.application-process .wrapper .cards .card:nth-child(1) .icon {
  background: blue;
  -webkit-box-shadow: 0 3px 10px  gray;
          box-shadow: 0 3px 10px  gray;
}

.application-process .wrapper .cards .card:nth-child(2) .icon {
  background: purple;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
}

.application-process .wrapper .cards .card:nth-child(3) .icon {
  background: green;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
  padding: 20px 24px;
}

.application-process .wrapper .cards .card:nth-child(4) .icon {
  background: red;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
  padding: 20px 22px;
}

.application-process .wrapper .find-out-more {
  padding: 10px 30px;
  font-weight: normal;
  border-radius: 5px;
  background: #7579e7;
  color: white;
  margin-top: 30px;
  -webkit-box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.63);
          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.63);
}

@media only screen and (min-width: 992px) {
  .application-process .wrapper .section-title {
    margin-bottom: 40px;
  }
  .application-process .wrapper .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .application-process .wrapper .cards .card {
    margin: 0 10px;
  }
  .application-process .wrapper .find-out-more {
    margin-top: 50px;
  }
}

.testemonial {
  padding-bottom: 50px;
}

.testemonial .slider {
  width: 84%;
  max-width: 1200px;
  margin: 0 auto;
}

.testemonial .slider .slide {
  padding: 20px;
}

.testemonial .slider .slide .card {
  width: 100%;
  max-width: 550px;
  height: 300px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.testemonial .slider .slide .card .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testemonial .slider .slide .card .client .client-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.testemonial .slider .slide .card .client .client-img img {
  width: 100%;
}

.testemonial .slider .slide .card .client .client-details {
  margin-left: 20px;
}

.testemonial .slider .slide .card .client .client-details .name {
  font-size: 1.1rem;
  font-weight: bold;
}

.testemonial .slider .slide .card .client .client-details .profession {
  color: gray;
  font-size: 0.9rem;
}

.testemonial .slider .slide .card .review {
  font-size: 0.9rem;
  color: gray;
  margin-top: 30px;
  line-height: 1.7;
}

.testemonial .slider .slide .card .bubble-one {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  opacity: 0.3;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.testemonial .slider .slide .card .bubble-two {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: green;
  opacity: 0.3;
  position: absolute;
  bottom: -20px;
  right: -20px;
}

@media only screen and (min-width: 768px) {
  .testemonial .slider .slide .card {
    height: 250px;
    padding-left: 30px;
  }
}
/*# sourceMappingURL=style.css.map */