//base style
.testemonial{
  padding-bottom: 50px ;

  .slider{
     width: 84%;
     max-width: 1200px;
     margin: 0 auto;

    .slide{
      padding: 20px ;
      
      .card{
        width: 100%;
        max-width: 550px;
        height: 300px;
        margin: 0 auto;
        box-shadow: 0 0 10px gray;
        box-sizing: border-box;
        padding: 30px 20px ;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        .client{
          display: flex;
          align-items: center;
          .client-img{
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            img{
              width: 100%;
            }
          }
          .client-details{
            margin-left: 20px;
            .name{
              font-size: 1.1rem;
              font-weight: bold;
            }
            .profession{
              color: gray;
              font-size: 0.9rem;
            }
          }
        }
        .review{
          font-size: 0.9rem;
          color: gray;
          margin-top: 30px;
          line-height: 1.7;
        }
        .bubble-one{
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: red;
          opacity: 0.3;
          position: absolute;
           bottom: 30px;
          right: 30px;
        }
        .bubble-two{
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background: green;
          opacity: 0.3;
          position: absolute;
          bottom: -20px;
          right: -20px;
        }
      }

    }
  }
}

//576px
//768px
@media only screen and (min-width: 768px){
  .testemonial{
    .slider{
      .slide{
        .card{
          height: 250px;
          padding-left: 30px;
        }
      }
    }
  }
}
//992px
//1200px